<ion-view view-title="Order"> 
  <ion-content>
    
	<div align-title="left" class="bar bar-header bar-balanced">
	<a class="button ion-arrow-left-b" href="#/beranda"> Back</a>
	  <h1 class="title">Order</h1>
	</div>
	<div class="list"></div>
	<div class="list"></div>
	<div class="list">
		<label class="item item-input item-stacked-label">
		<span class="input-label">Alamat</span>
			<input type="text" placeholder="Alamat" name="alamat2" ng-model="order.alamat2">
		</label>		
	</div>
	<div class="list">
	<label class="item item-input item-select">
			<div class="input-label">
			Paket 
			</div>
			<select name="paket" ng-model="order.paket">
				<option>Cuci+Lipat (1hari)</option>
				<option>Cuci+Lipat (2hari)</option>
				<option>Cuci+Lipat+Setrika (1hari)</option>
				<option>Cuci+Lipat+Setrika (2hari)</option>
				<option selected >Express 5 Jam</option>
			</select>
		</label>	
	</div>
	<div class="list">
		<a class="button button-large button-balanced button-full ion-ios-cart" ng-click="order()">
		Order
		</a>
		<a class="button button-large button-balanced button-full ion-arrow-left-c" href="#/beranda">
		Back
		</a>
	</div>

</ion-content>
</ion-view>