<ion-view view-title="Beranda">
  <ion-content>
  <div class="bar bar-header bar-balanced">
  	<h1 class="title">Dashboard Kurir</h1>
  	<button class="button icon ion-navicon"></button>
  </div>
  <div class="list">
  </div>
  <div class="list">
  </div>
  <div class="card">
      <div class="item item-text-wrap">
        Welcome KURIR {{username}} 
      </div>
    </div>
  <div class="row">
  <div class="col col-50">
  <div class="list">
      <a class="item item-thumbnail-center" href="#/orderan">
      <img src="img/list.png">
      <h3 class="text-center">List Order</h3>
      </a>
  </div>
  </div>
  <div class="col col-50">
  <div class="list">
      <a class="item item-thumbnail-center" href="#/map">
      <img src="img/map.png">
      <h3 class="text-center">Lokasi</h3>
      </a>
  </div>   
  </div>
  </div>
  <div class="row">
  <div class="col col-50">
  <div class="list">
      <a class="item item-thumbnail-center" href="#/kinfo">
      <img src="img/help.png">
      <h3 class="text-center">Info</h3>
      </a>
  </div>
  </div>
  <div class="col col-50">
  <div class="list">
      <a class="item item-thumbnail-center" ng-click="logout()">
      <img src="img/logout.png">
      <h3 class="text-center">Log Out</h3>
      </a>
  </div>   
  </div>
  </div>
  </ion-content>
</ion-view>